<%- include('adminHeader') %>
        <main>
            <!-- Header-->
            <header class="pt-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center">
                        <h4>Request Created</h4>
                    </div>
                </div>
            </header>    
        </main>
        
        <!-- Footer-->
        <footer class="py-5">
            <!-- <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Valley Tech Systems</p></div> -->
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>