<!DOCTYPE html>
<html>

<head>
  <title>Valley Tech Systems Admin Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="vts.css">
  <link rel="stylesheet" href="<%= cssPath %>vts.css">
</head>

<body>
  <div class="admin-login-page">
    <div class="header-strip">
      <img src="https://raw.githubusercontent.com/Very-Bad-Goose/CSC131-project-1/main/Logos/VTS_White.png"
        alt="VTS Powered by Voyager logo">
      <!-- <h2>Valley Tech Systems | Admin Login</h2>-->
    </div>

    <div class="sign-up-details">
      <h2>Admin Login</h2>
      <p> Please enter the password</p>
    </div>

    <form class="login-form" action="/adminLogin" method="POST">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>

    <div class="error-message"></div>
  </div>

  <script>
    var loginForm = document.querySelector('.login-form');
    var errorMessage = document.querySelector('.error-message');

    loginForm.addEventListener('submit', function (event) {
      event.preventDefault();

      // Validate the username and password fields
      var password = loginForm.querySelector('input[name="password"]').value;

      if (password === '') {
        errorMessage.textContent = 'Please fill in all required fields.';
        return;
      }
        // Make a POST request to authenticate
        fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            username: password,
          }),
        })
        .then(response => response.json())
        .then(data => {
          // Save the token in localStorage upon successful authentication
          localStorage.setItem('authToken', data.token);
          console.log('Token saved:', data.token);
          window.location.href = '/tickets';
        })
        .catch(error => {
          console.error('Authentication failed:', error);
        });


    });




  </script>
</body>

</html>