<!-- views/header.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTS Inventory Page</title>
    <link rel="stylesheet" type="text/css" href="vts.css">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="<%= cssPath %>styles.css" rel="stylesheet" />
    <link href="<%= cssPath %>additional.css" rel="stylesheet" />
    <style>
        /* Adjustments for vertical stacking */
        .full-width {
            width: 100%;
        }
        .custom-card {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 20px;
            border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        }
        .custom-card .card-img-top {
            flex: 0 0 40%; /* Adjust image width */
            max-width: 40%; /* Adjust image width */
            height: auto;
        }
        .custom-card .card-body {
            flex: 0 0 60%; /* Adjust text content width */
            max-width: 60%; /* Adjust text content width */
        }
        .custom-card .card-footer {
            display: flex;
            flex-direction: column;
        }
        .custom-card .card-footer .btn {
            margin-top: auto;
        }
    </style>
</head>
<body>
     <!-- Navigation-->
     <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a id="titletext" class="navbar-brand" href="/"><img id="vslogo" src="/assets/VTS_White.png">Requisition Order System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="#!">Help</a></li> -->
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a> -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item" href="#!">All Products</a></li> -->
                            <!-- <li><hr class="dropdown-divider" /></li> -->
                            <!-- <li><a class="dropdown-item" href="#!">Popular Items</a></li> -->
                            <!-- <li><a class="dropdown-item" href="#!">New Arrivals</a></li> -->
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button id="cartBtn" onclick="ticketWcart()" class="btn btn-outline-dark" type="submit">
                        <a href="/tickets/new">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </nav>