img#vslogo{
    height: 50px;
    margin-right:20px;
}
#mainnav{
    background-color:#00319E;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.6);
}

#titletext{
    color:white;
}
#cartBtn{
    background-color:white;
}