* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgba(254, 254, 254, 0.982);
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
  }
.header-strip {
    background-color: darkblue;
    color: white;
    padding: 40px;
    width: 100%;
    position: relative;
  }

  .inventory-list:hover {
    border-color: darkblue; /* Change border color on hover */
}

.header-strip img {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 80px;
    margin: -40px 0 0 0;
    position: absolute;
}

.inventory-heading{
    font-weight: 800;
    margin-left: 13px;
    color:  darkblue;
}

.inventory-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}

.inventory-list {
    text-align: center;
    margin: 30px;
     /* Adjust this height value as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inventory-list img:hover {
    transform: scale(1.05); /* Scale the image size on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the shadow on hover */
    filter: brightness(95%); /* Reduce brightness on hover (makes it darker) */
}

.inventory-list img {
    width: 100%;
    height: 185px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain image aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
   
}


.inventory-list h3 {
    font-size: 20px;
    color: darkblue;
    margin: 10px;
    
}
